.services__card_size_medium {
  grid-column: span 2;
  display: flex;
  padding: 48px;
  align-items: flex-end;
  background-image: url(../../../../../accets/images/background_card-medium.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--main-color-lightgray);
}

@media screen and (max-width: 768px) {
  .services__card_size_medium {
    grid-column: span 1;
    padding: 24px;
  }
}
