.header__price {
  display: none;
  color: var(--main-color-text);
  font-family: var(--main-font-text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: opacity 0.6s linear;
}

.header__price:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .header__price {
    display: block;
  }
}
