.footer__copyright {
  max-width: 420px;
  margin-top: 10px;
  margin-bottom: 0;
  color: rgb(130 130 130);
  font-family: var(--main-font-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
