.button {
  padding: 22px 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  line-height: 18px;
}

.button_bordered_white {
  border: solid 1px var(--main-color-light);
  border-radius: 8px;
  color: var(--main-color-light);
  font-family: var(--main-font-text);
}
