.footer__politics {
  display: block;
  margin-top: 65px;
  margin-bottom: 0;
  color: rgb(130 130 130);
  font-family: var(--main-font-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  transition: opacity 0.5s linear;
}

.footer__politics:hover {
  opacity: 0.6;
}

@media screen and (max-width: 820px) {
  .footer__politics {
    margin-top: 32px;
    font-size: 12px;
  }
}
