.footer__text {
  max-width: 376px;
  margin-top: 16px;
  margin-bottom: 0;
  color: var(--main-color-text);
  font-family: var(--main-font-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

@media screen and (max-width: 820px) {
  .footer__text {
    max-width: 100%;
    font-size: 14px;
  }
}
