.slider__img {
  width: 100%;
  max-width: 648px;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 820px) {
  .slider__img {
    max-width: 100%;
  }
}
