.slider__price {
  display: block;
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--main-color-green);
  font-family: var(--main-font-title);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.7;
}

@media screen and (max-width: 820px) {
  .slider__price {
    margin-bottom: 16px;
    font-size: 20px;
  }
}
