.footer__form-btn {
  width: 104px;
  box-sizing: border-box;
  padding: 11px;
  border: none;
  background-color: var(--main-color-green);
  color: var(--main-color-light);
  cursor: pointer;
  font-family: var(--main-font-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  text-transform: uppercase;
  transition: opacity 0.5s linear;
}

.footer__form-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 820px) {
  .footer__form-btn {
    width: 76px;
  }
}
