.hero__subtitle {
  margin: 40px 0 80px;
  color: var(--main-color-light);
  font-family: var(--main-font-text);
  font-size: 24px;
  font-weight: 400;
  line-height: 25px;
}

@media screen and (max-width: 820px) {
  .hero__subtitle {
    margin: 24px 0 56px;
    font-size: 16px;
    line-height: 24px;
  }
}
